<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Pankti</title>
</head>
<body>
    
    <%- include('partials/header') %>
    <%- include('partials/left-sidebar') %>
    <%- include('partials/right-sidebar') %> 
    
    <main class="main-content">
        <div class="post-shortcut">
            <header>Add new post
                <button><i class="fas fa-ellipsis-v"></i></button>
            </header>
            <main>
                <img src="icon/user/user-2.png" alt="">
                <form action="/">
                    <input type="text" placeholder="Type your thoughts here">
                    <button><img src="icon/send/fill/send.png" alt=""></button>
                </form>
            </main>
        </div>
        <div class="container container-type-2">
            <header>Popular Communities
                <button><i class="fas fa-ellipsis-h"></i></button>
            </header>

            <main>
                <ul>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                                <div class="user-img">
                                    <img src="icon/user/user-2.png" alt="">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                                <div class="members">
                                    1000 Members
                                </div>
                            </div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>View</button></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
        <div class="container container-type-1">
            <header>Popular Events
                <button><i class="fas fa-ellipsis-h"></i></button>
            </header>

            <main>
                <ul>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <div>Subject</div>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body"></div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>Enroll</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <div>Subject</div>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body"></div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>Enroll</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <div>Subject</div>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body"></div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>Enroll</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <div>Subject</div>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body"></div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>Enroll</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <div>Subject</div>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body"></div>
                            <div class="cont-foot">
                                <a href="#" class="refer-to-source"><button>Enroll</button></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
        <div class="container container-type-3">
            <header>Popular posts
                <button><i class="fas fa-ellipsis-h"></i></button>
            </header>

            <main>
                <ul>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <div class="cont-head">
                                <div class="cont-head-user-img">
                                    <a href="#" class="refer-to-user">
                                        <img src="icon/user/user-2.png" alt="">
                                    </a>
                                </div>
                                <div class="cont-head-subject">
                                    <span>Subject</span>
                                </div>
                                <div class="cont-head-user-cntrl">
                                    <button><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            <div class="cont-body">
                            </div>
                            <div class="cont-foot">
                                <div>
                                    <a href="#" class="this-post-like">
                                        <button>
                                            <i class="fas fa-heart"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-comment"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <i class="fas fa-share-alt"></i>
                                            <span>70</span>
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="this-post-comment">
                                        <button>
                                            <span>70</span>
                                            <i class="fas fa-thumbtack"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </main>

    <%- include('partials/script') %>  
</body>
</html>